<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centhroid: The Center of Fun</title>
    <link rel="icon" type="image/x-icon" href="https://storage.googleapis.com/centhroid/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="description" content="Our midpoint calculator and mapping tool enables you to easily calculate the midpoint of multiple locations and visualize them on a map. Make informed decisions and optimize your location-based planning with our user-friendly tool. Try it now and discover the power of location-based insights. #locationplanning #mappingtool">
</head>
<body>
    <header class="bg-gray-900 text-white">
        <div class="container mx-auto px-4 py-2 flex justify-between items-center">
            <a href="{% url 'index' %}" class="font-bold text-xl">Centhroid</a>
            <nav class="md:flex md:items-center">
              <a href="{% url 'features' %}" class="py-2 px-4">Features</a>
            </nav>
        </div>
    </header>
    <main class="py-4 mt-auto">
        <!-- <h1 class="text-center font-bold text-5xl">Centhroid</h1> -->
        <div class="container mx-auto px-4 md:px-0">
            <div class="w-full flex justify-center">
                <img class="w-64 md:w-96" title="Centhroid Logo" alt="centhroid logo" src="https://storage.googleapis.com/centhroid/centhroid-logo-name.png" />
            </div>
            <h1 class="text-2xl md:text-3xl mb-1 md:mb-2 mt-2 md:mt-4">How to Find the Midpoint of Places with Centhroid</h1>
            <p class="md:text-md text-base break-words text-justify">
                Have you ever wondered how to find the midpoint of places? Whether you're planning a road trip, a meeting point, or a picnic spot, finding the midpoint of places can be very helpful. But how do you do it?
                You could use a map and a ruler, but that's tedious and inaccurate. You could use a calculator and some math formulas, but that's complicated and time-consuming. You could use Google Maps or other online tools, but they're not always reliable or user-friendly.
                That's why we created Centhroid, the ultimate midpoint finder website. Centhroid is a simple and easy-to-use tool that pinpoints the midpoint of any group of places. All you need to do is input the addresses, and Centhroid will do the rest.
                Centhroid also shows you the location pin of the input addresses and the midpoint on Google Maps. You can zoom in and out, switch between map modes, and get directions to the midpoint. You can also share the midpoint with your friends via email or social media.
                Centhroid is fast, accurate, and free. No registration or download required. Just visit centhroid.com and start finding midpoints of places in seconds.
            </p>
            <h1 class="text-xl md:text-2xl mb-1 md:mb-2 mt-1 md:mt-2">Here are Some Benefits of Using Centhroid:</h1>
            <ul class="list-disc px-6 md:text-md text-base break-words text-justify">
                <li>Save time and hassle by finding midpoints of places with a few clicks</li>
                <li>Find fair and convenient meeting points for friends, family, or colleagues</li>
                <li>Discover new places and attractions near the midpoint</li>
                <li>Plan fun and memorable trips with optimal routes and destinations</li>
                <li>Enjoy a smooth and seamless user experience with Centhroid's intuitive design</li>
            </ul>
            <h1 class="text-xl md:text-2xl mb-1 md:mb-2 mt-1 md:mt-2">How to Use Centhroid</h1>
            <p class="md:text-md break-words text-justify">
                Using Centhroid is very easy. Here are the steps:
            </p>
            <ul class="px-6 list-disc md:text-md text-base break-words text-justify">
                <li>Go to centhroid.com</li>
                <li>Enter the addresses of the places you want to find the midpoint of in the search box</li>
                <li>Click on “Find Midpoint”</li>
                <li>Wait for a few seconds while Centhroid calculates the midpoint</li>
                <li>See the midpoint on the map along with the input addresses</li>
                <li>Explore the map features such as zooming, switching modes, getting directions, etc.</li>
                <li>Share the midpoint with others via email or social media</li>
                <li>That's it! You've just found the midpoint of places with Centhroid.</li>
            </ul>
        </div>
    </main>
</body>
</html>